*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: #0b0423;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
#left, #right {
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed #61d652;
}
.list{
    background: #e91e63;
    height: 45px;
    margin: 45px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: grab;
}
.list img{
    width: 40px;
    margin-right: 15px;
    margin-left: 20px; 
}
